################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gitBranchNaming/bin
/gitBranchNaming/obj
/.vs/gitBranchNaming/v14
/packages
